@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* General rules */
body {
    font-size: medium;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.heading {
    display: flex;
    justify-content: center;
    color: #3d405b;
    text-align: center;
}

h3 {
    margin: 0;
}

.income {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
}

.budgy-container {
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}


::-webkit-input-placeholder {
    color: #E6EBE0;
}

:-moz-placeholder {
    color: #E6EBE0;
    opacity: 1;
}

::-moz-placeholder {
    color: #E6EBE0;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #E6EBE0;
}

::-ms-input-placeholder {
    color: #E6EBE0;
}

::placeholder {
    color: #E6EBE0;
}


/* Dashboard */

.dashboard {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    height: auto;
    width: auto;
    background-color: #073B4C;
    margin: 10px;
    padding: 20px;
    color: #E6EBE0;
}

.dashboard input:focus {
    outline: none;
}

.dashboard input[type=number] {
    background-color: transparent;
    border: 0px solid;
    color: #E6EBE0;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}

.balance {
    grid-column: 1 / 2;
    grid-row: 1;
    font-size: 200%;
}

.monthly {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    background-color: #465775;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #465775;
    /* 118AB2 */
}

#monthly-expenses {
    font-size: 200%;
}

.weekly {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    background-color: #465775;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #465775;
}

#weekly-expenses {
    font-size: 200%;
}

/* Entry Form */
.entry-form {
    width: auto;
    background-color: #445552;
    border-radius: 10px;
    height: 50px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    /* flex: 1 1 0px; */
    /* flex-grow: 1; */
    align-content: space-evenly;
    justify-content: space-around;
}

.categories-option {
    color: black;
}

.entry-form input:focus {
    outline: none;
}

.entry-form input[type=number],
input[type=date],
input[type=text],
select {
    background-color: transparent;
    border: 0px solid;
    border-bottom: 2px solid;
    color: #E6EBE0;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

#submit {
    background-color: #E6EBE0;
    border: none;
    /* box-shadow:  15px #073B4C; */
    border-radius: 10px;
    color: black;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    font-size: medium;
    margin: 10px;
}

/* Entry Area*/
.entry-area {
    width: auto;
    background-color: #FFD166;
    border-radius: 10px;
    height: 500px;
    padding: 20px;
    margin: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

tr,
table,
thead,
tbody {
    width: 100%;
    font-size: 1.1em;
}

thead {
    text-align: left;
}

.entry-header-row {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    /* font-size: medium; */
}

/* Reset button */
#reset {
    background-color: #cc3f0c;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
    /* font-size: 16px; */
}


/* tablet media queries */
@media screen and (max-width: 1024px) {
    body {
        font-size: 1em;
    }

    .budgy-container {
        width: 90%;
    }

    .dashboard {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        padding: 10px;
        margin: 0;
    }

    .entry-form {
        padding: 10px;
        margin: 0;
        margin-top: 15px;
    }

    .entry-area {
        padding: 10px;
        margin: 0;
        margin-top: 15px;
    }

    .weekly {
        grid-column: 1;
        grid-row: 3;
    }

    .reset {
        padding: 10px;
        margin: 0;
        margin-top: 15px;
    }
}

/* mobile media queries */
@media screen and (max-width: 500px) {
    td {
        font-size: 1em;
    }
    
    body {
        font-size: 0.6em;
    }

    .dashboard input[type=number] {
        font-size: 1.2em;
    }

    .entry-form input[type=number],
    input[type=date],
    input[type=text],
    select {
        font-size: 1.6em;
    }

    .entry-form {
        height: auto;
    }

    th {
        font-size: 0.9em;
    }

    

}