@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* General rules */
body {
    font-size: medium;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.heading {
    display: flex;
    justify-content: center;
    color: #3d405b;
    text-align: center;
}

h5 {
    font-weight: lighter;
}

.income {
    color: rgb(48, 117, 27);
    font-weight: bold;
}

.error {
    color: red;
}

.budgy-container {
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

/* Dashboard */

#dashboard {
    background-image: linear-gradient(to bottom right,#073B4C, #01779e);
    background-size: cover;
    padding: 20px;
    color: #E6EBE0;
    border-radius: 20px;
}

/* Entry Form */
#entry-form {
    background-color: #ffecd1;
    border-radius: 20px;
    padding: 20px;
}

/* Entry Area*/
#entry-area {
    max-height: 600px;
    background-color: #e0e3dd;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

/* Reset button */
#reset {
    background-color: #cc3f0c;
}

/*Modal*/
.modal-dialog {
    overflow-y: initial;
 }

.modal-content {
    height: 95vh;
    overflow-y: auto;
 }
